python3.7 -m pip install opencv-python==4.1.1.26
python3.7 -m pip install opencv-contrib-python==4.1.1.26
python3.7 -m pip install numpy==1.19.1
python3.7 -m pip install python-socketio==4.6.0
python3.7 -m pip install tensorflow==1.15.0
python3.7 -m pip install keras==2.3.1
python3.7 -m pip install h5py==2.10.0